
html, body {
    background-color: #f7f7ff;
}

.no-margin {
    margin: 0;
}

.btn-large {
    width: 100%;
}

.btn-sondage {
    background-color: #0abde3;
    color: white;
    border: 0;
    border-radius: 3px;
}

.btn-repondre {
    background-color: #0abde3;
    color: white;
    border: 0;
    border-radius: 0;
}

.btn-sondage:hover, .btn-repondre:hover {
    border: 0;
    box-shadow: none;
}

/* Tableau */
.table > tbody > tr > td {
    vertical-align: middle;
}