
.navbar {
    background-color: #576574;
    margin-top: 10px;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-nav > li > a {
    color: white;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li.active > a, .navbar .navbar-nav > li.active > a:hover {
    background-color: #2e86de;
    color: white;
}