
.sondage {
    background-color: #22a6b3;
    padding-top: 5px;
    margin-bottom: 15px;
}

.sondage .title {
    color: white;
    text-decoration: underline;
    font-size: 1.4em;
    padding-left: 10px;
    margin-bottom: 10px;
}

.sondage .container-sondage {
    padding: 5px;
}

.sondage .repondre {
    text-align: right;
}

.sondage .repondre .label-sondage {
    margin-right: 5px;
    font-size: 0.9em;
    font-weight: bold;
}

.sondage .container-sondage .container-date {
    margin-bottom: 10px;
}

.sondage .label-sondage {
    font-size: 1.0em;
    font-weight: normal;
    background-color: #576574;
    margin-bottom: 10px;
}

.sondage .container-sondage .container-date .date {
    font-weight: bold;
}

/* Répondre au sondage */
.questionnaire {
    margin-bottom: 15px;
}

.question {
    margin-bottom: 10px;
}

.question .title {
    background-color: #576574;
    color: white;
    font-size: 1.1em;
    padding: 3px 3px 3px 10px;
    border-left: 8px solid #c23616;
    margin-bottom: 10px;
    border-radius: 2px;
}

.preference-title {
    text-align: center;
}

.question .reponse {
    background-color: #22a6b3;
    color: white;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: move;
}

.question .reponse .move-icon {
    text-align: center;
    font-size: 1.1em;
}

.question .reponse .ordre {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.question .reponse .choix {
    font-size: 1.1em;
}

.title-reponse {
    background-color: #576574;
    color: white;
    margin-bottom: 5px;
}

/* Container du button pour enregistrer et de retour */
.button-repondre {
    text-align: center;
    background-color: #576574;
    padding: 10px 5px;
    border-radius: 3px;
}

